#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    border: black 3px solid;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    width: 50%;
}