body {
    margin-top: 10%;
    margin-left: 35%;
    background-image: url("https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
}

.travelForm {
    border: 5px solid;
    border-color: #236C8C;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    width: 300px;
}

