* {
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

.article p, img{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 15px;
}

.classifieds p {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin: 15px;
}
p {
    text-align: justify;
}

.solid {
    border: solid 5px;
    padding: 5px;
}

.dashed {
    border-style: dashed;
    padding: 5px;
}

.grey {
    background-color: lightgray;
}