body {
    color: #6d1933;

}
h1, h2, h3 {
    text-align: center;
}

.article p, img{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 15px;
}

.classifieds p {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 15px;
}
p {
    text-align: justify;
}

